<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title%}{% endblock %} - Pokemash</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
            <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

    {% block script %}
    {% endblock %}
</body>
</html>
